# Entorno virtual de Python
*env/
venv/
.venv/
env/
ENV/

# Archivos generados por Python
__pycache__/
*.py[cod]
*$py.class

# Otros archivos innecesarios
*.log
*.sqlite3
*.env
.aws-sam
*.toml

# Dependencias
package
login-rol.sh